@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700;6..12,800;6..12,1000&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

:root {
     --background-fill: rgb(61, 46, 45);
}

body {
     margin: 0;
     background: var(--background-fill);
     overflow: hidden;
     color: white;
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     font-family: 'Nunito Sans', sans-serif;
}

#root {
     width: 100%;
     height: 100%;
     display: flex;
     position: relative
}

.head {
     width: 100vw;
     height: 100vh;
     display: flex;
     flex-direction: column;
     padding: 17vh;
     padding-right: 0vh;
     gap: 15vh;
}

.play-container {
     display: flex;
     gap: 3vh;

     >span {
          display: flex;
          flex-direction: column;
          gap: 1vh;
          margin-top: auto;
          margin-bottom: auto;
          font-size: 3vh;
          font-weight: 800;
          background: -webkit-linear-gradient(330deg, #f54536, #ffb6b6);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
     }
}

description-entry {
     display: flex;
     flex-direction: column;
     gap: 2vh;

     .text.title {
          font-size: 3vh;
          font-weight: 1000;
          max-width: 47vh;
          color: white;
     }

     .text {
          max-width: 70vh;
          font-weight: 800;
          font-size: 2vh;
          color: #ababab;
     }
}

title-entry {
     display: flex;
     flex-direction: column;
     gap: 2vh;


     .text {
          font-size: 15vh;
          font-weight: 1000;
     }
}

.play {
     background: linear-gradient(45deg, #f54536, #ff9090);
     font-size: 3vh;
     padding: 2vh;
     padding-left: 3vh;
     padding-right: 3vh;
     font-weight: 800;
     border: none;
     text-align: left;
     transition: transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 2.275);
     cursor: pointer;
     color: white;
     border-radius: 50vh;
     display: flex;
     align-items: center;
     gap: 1.5vh;
     width: fit-content;
     box-shadow: 0px 8px 14px #f545368a;

     >* {
          height: fit-content;
          margin-top: auto;
          margin-bottom: auto;
          display: flex;
     }

     &:hover {
          transform: scale(1.1);
     }
}

.buttons {
     display: flex;
     gap: 1.5vh;
}

.head button:not(.play) {
     background: linear-gradient(45deg, #f54536, #ff9090);
     font-size: 1.5vh;
     padding: 1vh;
     padding-left: 2vh;
     padding-right: 2vh;
     font-weight: 800;
     border: none;
     text-align: left;

     cursor: pointer;
     color: white;
     border-radius: 1vh;
     display: flex;
     align-items: center;
     gap: 1.5vh;
     width: fit-content;
     box-shadow: 0px 8px 14px #f545368a;

     >* {
          height: fit-content;
          margin-top: auto;
          margin-bottom: auto;
          display: flex;
     }


     i {
          font-size: 2vh;
     }

     transition: transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 2.275);

     &:hover {
          transform: scale(1.1);
     }
}

.showcase {
     width: 100vw;
     height: 100vh;
     display: flex;
     overflow: hidden;
     margin-left: auto;
     position: absolute;
     top: 0;
     right: 0;
     z-index: -1;

     .fade {
          position: absolute;
          width: 100%;
          height: 100%;
          background: linear-gradient(90deg, var(--background-fill) 15%, rgba(0, 0, 0, 0) 100%);
     }

     video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
     }
}

.play i {
     font-size: 2vh;
     color: white;
     display: flex;
     height: 5vh;
     width: 5vh;
     background: black;
     border-radius: 50%;
     justify-content: center;
     align-items: center;
     box-shadow: 0px 6px 11px #00000099, inset 0px -7px 13px 3px #f5453642;
}

.logo {
     position: absolute;
     bottom: 2vh;
     left: 18vh;
     height: 8vh;
     width: 8vh;
     display: flex;
     display: none;

     img {
          height: 100%;
          width: 100%;
          object-fit: contain;
     }
}

.header {
     position: absolute;
     left: 0;
     top: 0;
     margin: 5vh;
     display: flex;
     z-index: 5;
     gap: 2vh;


     .buttons {
          display: flex;
          flex-direction: column;
          padding: 2vh;
          gap: 0vh;

          button {
               border: none;
               background: none;
               color: white;
               font-size: 2vh;
               cursor: pointer;
               display: flex;
               align-items: center;
               gap: 1vh;
               padding: 1.5vh;
               border-radius: 1vh;

               i {
                    font-size: 1.5vh;
                    width: fit-content;
                    height: fit-content;
                    display: flex;
                    margin-top: auto;
                    margin-bottom: auto;
               }

               &:hover {
                    color: #ff8378;
                    background: #ff83782c;
               }
          }
     }
}

.profile {

     height: 6vh;
     width: 6vh;

     display: flex;
     /* background: linear-gradient(45deg, #f54536, #ff9090); */
     border: solid 3px #f54536;
     /* background: #ff90902c; */
     border-radius: 50vh;
     justify-content: center;
     z-index: 2;
     align-items: center;
     box-shadow: 0px 8px 14px #f545368a;
     cursor: pointer;

     i {
          font-size: 2vh;
          color: #ff8378;
          display: flex;
          height: fit-content;
          width: fit-content;
          text-shadow: 0px 8px 14px #f54636d7;
     }


     transition: transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 2.275);

     &:hover {
          transform: scale(1.1);
          border-radius: 2vh;
     }
}

profile-entry.focus {
     opacity: 1;
     pointer-events: all;
}

profile-entry {
     width: 30vh;
     background: #1a1414;
     height: fit-content;
     border-radius: 1vh;
     box-shadow: 0px 8px 17px #00000063;
     opacity: 0;
     transition: opacity 0.2s linear;
     pointer-events: none;

     .username {
          padding: 2vh;
          border-bottom: solid 1px #3d2e2d;
          font-weight: bold;
          font-size: 2vh;
          display: flex;

          .level {
               display: flex;
               margin-left: auto;

               >* {
                    margin-top: auto;
                    margin-bottom: auto;

               }

               .label {
                    font-size: 1vh;
                    font-weight: 800;
                    color: white;
                    margin-right: 1vh;
                    background: #ff4937;
                    padding: 0.5vh;
                    padding-left: 1vh;
                    padding-right: 1vh;
                    border-radius: 59vh;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    box-shadow: 0px 4px 12px #f545368a;
               }
          }
     }
}

button[disabled] {
     opacity: 0.5;
     cursor: not-allowed !important
}